<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private</title>
    <link rel="stylesheet"  th:href="@{css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">Welcome to the private Page</h1>
    <h2>Hello <span th:text="${name}"></span></h2>
    <p class="alert alert-danger">You can see me only if you have valid logins </p>
    <a href="/secret">go to the secret page</a>
</div>

</body>
</html>